.container {
  display: flex;
  flex: 1;
  min-width: 0;
  padding: 4px;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

  @media (max-width: theme(screens.sm)) {
    display: flex;
    flex-direction: column;
  }
}
