.container {
  display: flex;
  padding: 12px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

  @media (max-width: theme(screens.sm)) {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }
}
