@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    background-color: theme(colors.white);
    color: theme(colors.black);
  }
}

/* TODO: setup dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: theme(colors.black);
    color: theme(colors.white);
  }
} */

/* Rely on normalize.css to provide a consistent cross-browser experience */

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* Allow percentage-based heights in the application */
  height: 100%;
  /* declare default font family & fallback */
  font-family: "Abhaya Libre", serif;
}

/*
  Create a root stacking context
*/
/* stylelint-disable-next-line selector-id-pattern */
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
