.containerGrid {
  max-width: 23rem;
  outline: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;

  display: grid;
  gap: 0.5rem 0;
  grid-template-columns: repeat(auto-fit, minmax(4.6rem, 1fr));
}

.title {
  display: flex;
  grid-row: 1;
  grid-column: 1 / 3;
}
