.signInCard {
  --size: clamp(150px, 35vw, 400px);

  width: var(--size);
  height: var(--size);
  position: relative;

  display: flex;
  justify-content: center;
}

.signInBackground {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: -1;
}

.styledBox {
  --border-color: black;
  --border-size: 3px;
  --border-radius: 20px;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  .styledBox {
    --border-color: white;
  }
}

.styledBox:nth-child(3) {
  border-top-right-radius: var(--border-radius);
  border-top: var(--border-size) solid var(--border-color);
  border-right: var(--border-size) solid var(--border-color);
}

.styledBox:nth-child(7) {
  border-bottom-left-radius: var(--border-radius);
  border-bottom: var(--border-size) solid var(--border-color);
  border-left: var(--border-size) solid var(--border-color);
}
