.container {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(150px, 15%) 1fr minmax(150px, 20%);
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  @media (min-width: theme(screens.md)) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(100px, 15%) 1fr minmax(100px, 20%);
    grid-template-areas:
      "header main"
      "sidebar main"
      "footer footer";
  }

  @media (min-width: theme(screens.lg)) {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(100px, 15%) 1fr minmax(100px, 20%);
    grid-template-areas:
      "header main"
      "sidebar main"
      "footer main";
  }
}

.header {
  grid-area: header;
  background-color: theme(colors.red.200);
}

.sidebar {
  grid-area: sidebar;
  background-color: theme(colors.blue.200);
}

.main {
  grid-area: main;
  display: flex;
  align-self: center;
  aspect-ratio: 1/1;
  background-color: theme(colors.green.200);

  /* make the 350 a calculated number */
  max-height: calc(100vh - 350px);

  @media (min-width: theme(screens.md)) {
    max-height: calc(100vh - 200px);
    align-self: end;
  }

  @media (min-width: theme(screens.lg)) {
    max-height: calc(100vh - 32px);
    align-self: center;
  }

  background-color: theme(colors.green.400);
}

.mainContent {
  aspect-ratio: 1/1;
  background-color: theme(colors.green.400);
}

.footer {
  grid-area: footer;
  background-color: theme(colors.yellow.200);
}
