.container {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 3fr;
  --row-size: 150px;

  grid-template-rows:
    minmax(var(--row-size), 15%)
    1fr
    minmax(var(--row-size), 20%);
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  @media (min-width: theme(screens.md)) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows:
      minmax(var(--row-size), 15%)
      1fr
      minmax(var(--row-size), 20%);
    grid-template-areas:
      "header main"
      "sidebar main"
      "footer footer";
  }

  @media (min-width: theme(screens.lg)) {
    grid-template-columns: 2fr 3fr;
    grid-template-rows:
      minmax(var(--row-size), 15%)
      1fr
      minmax(var(--row-size), 20%);
    grid-template-areas:
      "header main"
      "sidebar main"
      "footer main";
  }
}

.header {
  grid-area: header;
  background-color: theme(colors.red.200);
}

.sidebar {
  grid-area: sidebar;
  background-color: theme(colors.blue.200);
}

.main {
  grid-area: main;
  display: flex;
  align-self: center;
  aspect-ratio: 1/1;
  background-color: theme(colors.green.200);

  /* TODO Account for Dev Nav Bar Here */
  max-height: calc(100vh - (var(--row-size) * 2));

  @media (min-width: theme(screens.md)) {
    align-self: end;
  }

  @media (min-width: theme(screens.lg)) {
    /* TODO Account for Dev Nav Bar Here */
    max-height: 100vh;
    align-self: center;
  }

  background-color: theme(colors.green.400);
}

.mainContent {
  aspect-ratio: 1/1;
  background-color: theme(colors.green.400);
}

.footer {
  grid-area: footer;
  background-color: theme(colors.yellow.200);
}
